<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Marvel-ous</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="container">
        <nav class="navbar navbar-expand-lg navbar-light bg-light sticky-top">
            <a class="navbar-brand" href="/Home/Index">
                <img src="~/Content/img/logo.png" width="300" height="110" alt="" class="mx-auto d-block img-fluid">
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto nav-link">
                    <li>@Html.ActionLink("Dashboard", "Dashboard", "Admin", null, new { @class = "nav-link" })</li>
                    <li>@Html.ActionLink("Table", "Table", "Admin", null, new { @class = "nav-link" })</li>
                    <li>@Html.ActionLink("Notifications", "Notifications", "Admin", null, new { @class = "nav-link" })</li>
                    <li>@Html.ActionLink("Feedback", "Feedback", "Admin", null, new { @class = "nav-link" })</li>
                </ul>
            </div>
        </nav>
    </div>

    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Team Marvel</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
